.box {
  display: flex;
  flex-direction: column;
  .title {
    margin: 0 auto;
  }
  .container {
    margin: 0 auto;
    width: 1000px;
  }
}
select {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
}
